<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>
<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>
<p>
  <strong>Ingredients:</strong>
  <%= @item.ingredients %>
</p>
<%= link_to 'Edit', edit_article_path(@item) %>
<%= link_to 'Back', items_path %>
